.backToggle {
	background-color: green;
}
.altToggle {
	background-color: purple;
}

#pOneScore {
}

#pTwoScore {
}

#p1Button {

}

#p2Button {

}

#resetButton {

}

#playTo {

}

.win {
	color: green;
}