body {
	background: orange;
}

li {
	border: 2px solid white;
}

#uber {
	color: green;
}

/*id assignment with # to edit that name in html and can only be used once*/
#hey {
	color: blue;
}

/*can also use a class with . and can be reused*/
.completed {
	text-decoration: line-through;
}